.title {
    font-size: 30px;
    color: #fff;
}

.green {
    color: green;
}

.navbar-custom {
    display: flex;
    flex-direction: row;
}

    .flex-six {
        display: flex;
        flex: 0.4;
    }

    .flex-four {
        display: flex;
        flex: 0.6;
    }

    .justify-evenly {
        justify-content: space-evenly;
    }

.nav-text {
    font-size: 22px;
    color: #fff; 
}

.normal-text {
    font-size: 22px;
    color: black;
    font-weight: 500;
}